* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Fredoka One", cursive;
}

main {
  display: none;
  max-width: 550px;
  height: 100%;
  margin: auto;
  background-color: blue;
}

#game-container {
  position: relative;
  max-width: 500px;
  background-color: transparent;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

#wrapbox {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 105%;
}

#gameBox {
  font-size: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.row {
  font-size: 0;
  display: inline-block;
}

#scoreArea {
  position: relative;
  width: 100%;
  height: 4.76%;
  background-color: blue;
}

#score,
#speed {
  width: 50%;
  height: 100%;
  text-align: left;
  font-size: initial;
  display: inline-block;
  color: white;
  padding: 0 2%;
}
#speed {
  text-align: right;
}

#gameArea {
  position: relative;
  width: 100%;
  height: 95.24%;
  background-color: rgb(206, 255, 206);
}

.nodes {
  position: absolute;
  width: 4%;
  height: 4%;
}

#targetNode {
  background-color: red;
}

.snakeNodes {
  background-color: black;
}

#node1 {
  background-color: brown;
}

#buttonArea {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.btn {
  width: 100%;
  text-align: center;
}

button {
  font-family: "Fredoka One", cursive;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid red;
  width: 65px;
  margin: 5px;
  padding: 5px 0px;
  box-shadow: 2px 1px 2px 0 #ff5c5c;
  cursor: pointer;
}

button:active {
  outline: none;
  background-color:  green;
  box-shadow: none;
}

button:focus {
  outline: none;
}

#pause,
#restart,
#sound,
#fullscreen,
#none
{
  background-position: center;
  background-size: 30%;
  background-repeat: no-repeat;
  color: transparent;
}

#pause {
  background-image: url(../images/pause.svg);
}

#restart {
  background-image: url(../images/restart.svg);
}

#sound {
  background-image: url(../images/sound-on.svg);
}
#fullscreen{
   background-image: url(../images/fullscreen.svg);
}

#home-container {
  display: block;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b2dfdb;
  z-index: 1;
}

#home {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

#game-logo {
  margin: 50px auto;
}

#game-img {
  margin: 20px;
}

#game-img img {
  width: 100px;
  height: 100px;
}

#game-title {
  color: royalblue;
  font-weight: bold;
  font-size: 30px;
  margin: 20px;
}

#startGame {
  width: auto;
  display: inline-block;
  padding: 5px 15px;
  font-size: 24px;
  background-color: yellow;
  color: red;
  border: 5px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
  box-shadow: none;
}

#owner {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  bottom: 2%;
  width: 100%;
}

#playAgainBox,
#restartBox {
  display: none;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

#restartBox {
  font-family: "Fredoka One", cursive;
  background-color: chartreuse;
  border: 5px solid black;
  padding: 5px;
  text-align: center;
}

#playAgain {
  width: 100px;
}
@media all and (display-mode: fullscreen) {
  #fullscreen,
  #none{
    display: none;
  }
}


@media screen and (max-width: 500px){
  body{
    background-color: blue;
  }
}

@media screen and (min-width: 300px) and (min-height: 500px) {
  #buttonArea button,#playAgain {
    padding: 10px 0px;
    font-size: 18px;
  }
  #playAgain{
    width: 130px;
  }
}

@media screen and (min-width: 300px) and (min-height: 600px) {
  #buttonArea button,#playAgain {
    padding: 15px 0px;
    width: 80px;
    font-size: 20px;
  }
  #playAgain{
    width: 130px;
  }
}

@media screen and (min-width: 300px) and (min-height: 700px) {
  #buttonArea button,#playAgain {
    padding: 15px 0px;
    width: 80px;
    font-size: 20px;
  }
  #playAgain{
    width: 130px;
  }
}

@media screen and (min-width: 480px) {
  #buttonArea button,#playAgain {
    padding: 5px;
    width: 65px;
    font-size: 16px;
  }
  #playAgain{
    width: 100px;
  }
}
